body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div article {
  text-align: center;
}

div article ul {
  list-style-type: none;
}

button {
  background-color: #111827;
  color: #fff;
  padding: 1rem;
  border-radius: 3rem;
  font-size: 1rem;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  transform: scale(0.8);
}
